.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .innerContainer {
    flex-grow: 1;
    padding: 1rem;
  }
  
  .title {
    font-size: 1.875rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  h2{
    color: #07090a !important;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .heading {
    font-size: 1.5rem;
   
  }
  
  .citylist {
    list-style-type: disc; 
    padding-left: 1.25rem; 
    margin-bottom: 2rem; 
  }
  
  .cityitem {
    font-size: 1.125rem; 
    color: #3182ce;
  }
  
  .cityitem a:hover {
    color: #2b6cb0; 
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .favoritesLink {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    color: blue;
    text-decoration: underline;
  }
  