@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #0D3B66; /* Dark Blue */
  --secondary-color: #FAF0CA; /* Light Cream */
  --accent-color: #F4D35E; /* Soft Yellow */
  --green-color: #0f766e; /* light Green */
  --green2-color: #134e4a; /* Dark Green */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 150, 220, 950;
    --background-end-rgb: 0, 0, 0;
    --primary-color: #0D3B66; /* Dark Blue */
    --secondary-color: #FAF0CA; /* Light Cream */
    --accent-color: #F4D35E; /* Soft Yellow */
    --green-color: #0f766e; /* light Green */
    --green2-color: #134e4a; /* Dark Green */
  }
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Example usage of the color variables */
.header {
  background-color: var(--green2-color);
}

.button {
  background-color: var(--green-color);
  color: var(--foreground-rgb);
}

.button-accent {
  background-color: var(--accent-color);
  color: var(--foreground-rgb);
}